.headerImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("https://img.freepik.com/free-photo/view-futuristic-concert_23-2151073008.jpg?t=st=1708250629~exp=1708254229~hmac=fe303cbe60c06ff20e3743eb86901db0a444d7def892a1a2e5d303ba9b0df328&w=1060");
  background-repeat: no-repeat;
  background-size: 100% 20%;
}
.homeContainer {
  background-color: #fff;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.homeTitle {
  width: 1024px;
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .headerImg {
    background-size: 100% 14%;
  }
}
@media screen and (max-width: 400px) {
  .headerImg {
    background-size: 100% 20%;
  }
}

@media screen and (max-width: 576px) {
  .headerImg {
    background-size: 100% 10%;
  }

  .headerList {
    display: inline;
  }
}
