.headerImg {
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), transparent),
    url("https://res.cloudinary.com/dueabak8m/image/upload/v1693127305/upload/kx3flroj8dvegclwexbm.png");
  background-repeat: no-repeat;
  background-size: 100% 20%;
}
.homeContainer {
  background-color: #fff;
  bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.homeTitle {
  width: 1024px;
  text-align: center;
  font-size: 30px;
}

@media screen and (max-width: 768px) {
  .headerImg {
    background-size: 100% 14%;
  }
}
@media screen and (max-width: 400px) {
  .headerImg {
    background-size: 100% 20%;
  }
}

@media screen and (max-width: 576px) {
  .headerImg {
    background-size: 100% 10%;
  }

  .headerList {
    display: inline;
  }
}
