.header {
  height: 656px;
  color: white;
  display: flex;
  justify-content: center;
  position: relative;
}

.header h1 {
  font-size: 120px;
  margin-left: -15px;
  font-weight: 600;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
  background: url("https://res.cloudinary.com/dueabak8m/image/upload/v1693127293/upload/e7emalowqbyayikqccyp.png");
  -webkit-background-clip: text;
  background-position: 0 0;
  animation: back 100s linear infinite;
}
@keyframes back {
  100% {
    background-position: 2000px 0;
  }
}
.header p {
  font-size: 20px;
  margin-top: -2%;
  color: transparent;
  -webkit-text-stroke: 1px #fff;
}
.header.listHeader {
  height: 200px;
  background-color: #4d3c77;
}
.headerContainer {
  width: 100%;
  max-width: 1024px;
  margin: 20px 0px 100px 0px;
}
.headerContainer.listMode {
  margin: 20px 0px 0px 0px;
}
.headerList {
  margin-top: 50px;
  display: flex;
  gap: 40px;
  margin-bottom: 50px;
}
.headerListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerListItem.active {
  border: 1px solid white;
  padding: 10px;
  border-radius: 20px;
}
.headerDesc {
  margin: 20px 0px;
}
.headerBtn {
  color: white;
  font-weight: 500;
  border-color: white;
  padding: 10px;
  cursor: pointer;
}
.headerSearch {
  height: 60px;
  background-color: white;
  border: 3px solid grey;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px 0px;
  border-radius: 5px;
  position: absolute;
  bottom: -25px;
  width: 100%;
  max-width: 1024px;
}
.headerIcon {
  color: lightgrey;
}
.headerSearchIcon {
  color: black;
}
.headerSearchItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
.headerSearchInput {
  border: 1px solid black;
  border-radius: 10px 10px;
  height: 50px;
  outline: none;
  font-size: 20px;
  width: 100%;
}
.headerSearchText {
  color: lightgrey;
  cursor: pointer;
}
.headerSearchBtn {
  background-color: black;
  color: white;
  font-weight: 500;
  border: none;
  padding: 15px;
  cursor: pointer;
}
.headerSearchBtn:hover {
  background-color: white;
  color: black;
  border: 1px black solid;
}
.headerTitle {
  position: relative;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

@media screen and (max-width: 600px) {
  .header h1 {
    font-size: 100px;
    font-weight: 100;
  }
  .active {
    display: inline-block;
  }
  .header p {
    font-size: 15px;
  }
  .headerList {
    gap: 3px;
  }
}
@media screen and (max-width: 400px) {
  .header h1 {
    font-size: 70px;
    font-weight: 100;
  }

  .header p {
    font-size: 15px;
  }
  .headerList {
    gap: 3px;
  }
}

@media screen and (max-width: 300px) {
  .header h1 {
    font-size: 50px;
    font-weight: 100;
  }

  .headerList {
    display: inline;
  }
}
