.navbar {
  height: 50px;
  display: flex;
  justify-content: center;
}
.navbar.listNavbar {
  background-color: #4d3c77;
}
.navContainer {
  width: 100%;
  max-width: 1024px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo {
  font-weight: 500;
}
.navButton {
  color: white;
}
.userName {
  display: inline;
  margin-right: 10px;
  cursor: pointer;
}
